<div class="container">
    
      
<div class="states"> 
    <h1 >
        This is Covid 19 CovidTracker
    </h1>
    <div class="dropdown">
        <button class="dropbtn">Select State</button>
            <div class="dropdown-content">
                <a href ='#'> Andhra Pradesh</a>
                <a href ='#'>Andaman and Nicobar Islands</a>
                <a href ='#' >Arunachal Pradesh</a>
                <a href ='#' >Assam</a>
                <a href ='#' >Bihar</a>
                <a href ='#' >Chandigarh</a>
                <a href ='#' >Chhattisgarh</a>
                <a href ='#' >Dadar and Nagar Haveli</a>
                <a href ='#' >Daman and Diu</a>
                <a href ='#' >Delhi</a>
                <a href ='#' >Lakshadweep</a>
                <a href ='#' >Puducherry</a>
                <a href ='#' >Goa</a>
                <a href ='#' >Gujarat</a>
                <a href ='#' >Haryana</a>
                <a href ='#' >Himachal Pradesh</a>
                <a href ='#' >Jammu and Kashmir</a>
                <a href ='#' >Jharkhand</a>
                <a href ='#' >Karnataka</a>
                <a href ='#' >Kerala</a>
                <a href ='#' >Maharashtra</a>
                <a href ='#' >Manipur</a>
                <a href ='#' >Meghalaya</a>
                <a href ='#' >Mizoram</a>
                <a href ='#' >Nagaland</a>
                <a href ='#' >Odisha</a>
                <a href ='#' >Punjab</a>
                <a href ='#' >Rajasthan</a>
                <a href ='#' >Sikkim</a>
                <a href ='#' >Tamil Nadu</a>
                <a href ='#' >Telangana</a>
                <a href ='#' >Tripura</a>
                <a href ='#' >Uttar Pradesh</a>
                <a href ='#' >Uttarakhand</a>
                <a href ='#' >West Bengal</a>
            </div>
        
    </div>
</div>